<form class="row mt-3">
    <div class="col-xl-5">
        <div class="form-group">
            <label class="form-label">First Name</label>
            <input class="form-control " name="firstName" type="text" placeholder="Enter First Name" >
        </div>
    </div> 
    <div class="col-xl-5">
        <div class="form-group">
            <label class="form-label">Last Name</label>
            <input class="form-control " name="lastName" type="text" placeholder="Enter Last Name" >
        </div>
    </div> 
</form>