<div class="container mt-5">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body p-5 px-6">
                    <h4 class="primary-text text-center">Forgot Password</h4>
                    <form class="form-group mt-5" [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input formControlName="email" class="form-control searchbar" placeholder="user@example.com" name="email">
                            <div *ngIf="resetPassForm.get('email')?.invalid && resetPassForm.get('email')?.touched" class="text-danger">
                                <small *ngIf="resetPassForm.get('email')?.errors?.['required']">Email is required.</small>
                                <small *ngIf="resetPassForm.get('email')?.errors?.['email']">Invalid email format.</small>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showFields">
                            <label class="form-label">OTP</label>
                            <input formControlName="otp" class="form-control searchbar" placeholder="Enter OTP" name="OTP">
                        </div>
                        <div class="form-group" *ngIf="showFields">
                            <label class="form-label">New Password</label>
                            <input formControlName="newPassword" class="form-control searchbar" placeholder="New Password" name="newPassword">
                        </div>
                        <button class="btn primary-btn mt-4 w-100 btn-block btn-lg" type="submit" *ngIf="!showFields" [disabled]="resetPassForm.invalid">Send OTP</button>
                        <button class="btn primary-btn mt-4 w-100 btn-block btn-lg" type="button" *ngIf="showFields" (click)="reset()">Save Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>