<div class="container mt-5">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body p-5 px-6">
                    <h4 class="primary-text text-center">Login In Here</h4>
                    <form class="form-group mt-5" >
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input class="form-control searchbar" placeholder="user@example.com" name="email">
                        </div>
                        <div class="form-group d-flex flex-column mt-4">
                            <label class="form-label">Password</label>
                            <div class="btn-group">
                                <input class="form-control rounded-0 rounded-start searchbar" placeholder="*******" name="password">
                                <button class="btn primary-btn"><i class="fa fa-eye"></i></button>
                            </div>
                        </div>
                        <button class="btn primary-btn mt-4 w-100 btn-block btn-lg" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  