<div class="container mt-5" *ngIf="product">
    <div class="row">
        <div class="col-xl-6">
            <img class="img-fluid rounded-2" [src]="product.image" >
        </div>
        <div class="col-xl-6">
            <h5 class="mb-1 text-secondary">{{ product.brand }}</h5>
            <h2 class="page-title fw-bold ">{{ product.name }}</h2>
            <span class="badge secondary-bg mb-2">{{ product.category }}</span>
             <div class="d-flex align-items-center fs-4"><i class="fa-solid fa-indian-rupee-sign me-2"></i> <h3 class="fw-semibold mb-0"> {{ product.price }}</h3></div> 
            <p>{{ product.description }}</p>
            <span class="fw-semibold {{ product.countInStock ? 'text-secondary' : 'text-danger' }}">
                Stock : {{ product.countInStock ? product.countInStock : 'Currently Unavailable' }}
            </span>
            <br>
            <div class="my-3 text-nowrap">
                <button class="btn btn-lg me-2 primary-btn rounded-0" (click)="addCartProduct(product._id)">Add To Cart</button>
                <button class="btn btn-lg border-primary primary-text rounded-0">Buy Now</button>
            </div>

            <div class="mt-5">
                <div class="d-flex mb-3 align-items-center justify-content-between">
                    <h4 class="fw-semibold"><span class="text-success border rounded fs-16 border-success p-1" *ngIf="product.rating > 0">{{product.rating}} <i class="fa fa-star fs-12"></i></span> Reviews & Ratings</h4>
                    <h6 class="text-primary float-end">
                        {{
                        product.numReviews === 0
                            ? 'No reviews yet'
                            : product.numReviews + (product.numReviews === 1 ? ' Review' : ' Reviews')
                        }}   
                    </h6>
                </div>
                <app-add-review  [id]="product._id" (reviewAdded)="updateReviewCount($event)"></app-add-review>
            </div>
            <div class="mt-5">
                
            </div>
        </div>
    </div>
</div>