<div class="container mt-5" *ngIf="product">
    <div class="row">
        <div class="col-xl-6">
            <ngb-carousel *ngIf="product?.imgs?.length > 0" class="mb-4 rounded-2" [showNavigationArrows]="true" [showNavigationIndicators]="true">
                <ng-template ngbSlide *ngFor="let img of product.imgs; let i = index">
                  <img [src]="img" class="d-block w-100 rounded-2" alt="Product image {{i + 1}}" />
                </ng-template>
              </ngb-carousel>
            
              <img *ngIf="!product?.imgs?.length" [src]="product.image" class="img-fluid rounded-2" />
        </div>
        <div class="col-xl-6">
            <h5 class="mb-1 text-secondary">{{ product.brand }}</h5>
            <h2 class="page-title fw-bold ">{{ product.name }}</h2>
            <span class="badge secondary-bg mb-2">{{ product.category }}</span>
             <div class="d-flex align-items-center fs-4"><i class="fa-solid fa-indian-rupee-sign me-2"></i> <h3 class="fw-semibold mb-0"> {{ product.price }}</h3></div> 
            <p>{{ product.description }}</p>
            <span class="fw-semibold {{ product.countInStock ? 'text-secondary' : 'text-danger' }}">
                Stock : {{ product.countInStock ? product.countInStock : 'Currently Unavailable' }}
            </span>
            <div class="mt-3" *ngIf="product?.sizes?.length">
                <div class="fw-semibold mb-2">Select Size:</div>
                <div class="d-flex flex-wrap gap-2">
                  <a
                    class="border p-2 rounded text-center text-decoration-none text-dark px-3"
                    *ngFor="let size of product.sizes"
                    [ngClass]="{'secondary-bg text-white': selectedSize === size}"
                    (click)="selectedSize = size"
                  >
                    {{ size }}
                </a>
                </div>
              </div>
              
            <br>
            <div class="text-nowrap">
                <button class="btn btn-lg me-2 btn-block w-100 primary-btn " (click)="addCartProduct(product._id)"><i class="fa fa-cart-shopping"></i> Add To Bag</button>
                <!-- <button class="btn btn-lg border-primary primary-text rounded-0">Buy Now</button> -->
            </div>

            <div class="mt-5">
                <div class="d-flex mb-3 align-items-center justify-content-between">
                    <div class="fw-semibold" >
                        <div class="badge bg-success text-white me-2 text-end"  *ngIf="product.rating > 0">
                            {{ product.rating }} <i class="fa fa-star"></i>
                        </div>
                        <span class="fs-20">Reviews & Ratings</span></div>
                    <h6 class="text-primary float-end">
                        {{
                        product.numReviews === 0
                            ? 'No reviews yet'
                            : product.numReviews + (product.numReviews === 1 ? ' Review' : ' Reviews')
                        }}   
                    </h6>
                </div>
                <app-add-review  [id]="product._id" (reviewAdded)="updateReviewCount($event)"></app-add-review>
            </div>
            <div class="mt-5">
                
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" *ngIf="!product">
    <div class="row">
      <div class="col-xl-6 mb-3">
        <ngx-skeleton-loader 
          count="1" 
          appearance="circle" 
          [theme]="{ 'border-radius': '12px', height: '400px', width: '100%' }">
        </ngx-skeleton-loader>
      </div>
  
      <div class="col-xl-6">
        <ngx-skeleton-loader count="1" [theme]="{ height: '20px', width: '30%', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" [theme]="{ height: '32px', width: '60%', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" [theme]="{ height: '20px', width: '20%', 'margin-bottom': '20px' }"></ngx-skeleton-loader> 
        
        <ngx-skeleton-loader count="1" [theme]="{ height: '30px', width: '40%', 'margin-bottom': '20px' }"></ngx-skeleton-loader>
  
        <ngx-skeleton-loader count="3" [theme]="{ height: '12px', width: '100%', 'margin-bottom': '6px' }"></ngx-skeleton-loader>
  
        <ngx-skeleton-loader count="1" [theme]="{ height: '18px', width: '30%', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
  
        <ngx-skeleton-loader count="1" [theme]="{ height: '45px', width: '100%', 'border-radius': '6px' }"></ngx-skeleton-loader>
  
        <div class="mt-5">
          <ngx-skeleton-loader count="1" [theme]="{ height: '25px', width: '50%', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" [theme]="{ height: '20px', width: '30%' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
</div>
  