<div class="container">
  <div class="row g-5 p-0 m-0">
    <div class="col-xl-4" *ngFor="let product of products">
        <div class="card" >
            <a [routerLink]="['/product-details', product._id]">
                <img class="card-img-top product-img border" src="{{ product.image }}" alt="Product Image">
            </a>
            <div class="card-body">
                <div class="badge bg-success text-white float-end text-end"  *ngIf="product.rating > 0">
                  {{ product.rating }} <i class="fa fa-star"></i>
                </div>
                <a class="card-title mb-0 text-primary text-decoration-none" [routerLink]="['/product-details', product._id]">{{ product.name }}</a> <br>
                <b>Rs.{{ product.price | price }} /-</b>
            </div>
        </div>
    </div>
    <div class="pagination-controls text-center mt-4" *ngIf="products.length > 6">
      <button class="btn btn-sm btn-secondary" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        Previous
      </button>
      <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn btn-sm btn-secondary" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
</div>

<div class="row g-3 mt-2" *ngIf="!products || products.length === 0">
    <div class="col-xl-4" *ngFor="let i of [1,2,3,4,5,6]">
      <div class="card border-0">
        <ngx-skeleton-loader
          count="1"
          [theme]="{ height: '200px', width: '100%', 'border-radius': '4px', 'margin-bottom': '10px' }">
        </ngx-skeleton-loader>
  
        <div class="card-body">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '20px', width: '70%', 'margin-bottom': '10px' }">
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '16px', width: '40%' }">
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>
</div>
  
</div>